body{
	font-family: 'Open Sans', sans-serif;
}

.espaciado{
	padding: 5px 0px;
}

.btn-sam{
	background-color: hsla(0,0%,100%,0.00);
	color: #000000;
	border-color: #000000;
	text-transform: uppercase;
	padding: 10px 30px;
	border-width: medium;
	border-radius: 5px;
}

.titulo{
	font-size: 80px;
	font-weight: 700;
	padding-top: 20px;
}

.grey{
	background-color: #F3F3F3;
}

.alignment{
	padding: 120px 10px 0px 50px ;
}

.alignment-white{
	padding: 120px 50px 0px 10px ;
}
